{% extends 'base.html.twig' %}
{% set active = 'palidrome' %}
{% block title %}
    check palindrome
{% endblock %}
{% block content%}
    <div class="container-fluid palindrome_block">
        <h3 class="text-center">Palindrome String Check</h3>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="md-3 text-center">
            <input type="submit" name="check" value="check" class="btn btn-success">
        </div>
        {{ form_end(form) }}
    </div>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label}} mt-3" role="alert">
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}